<!doctype html>
  <head>
    <title>Lauren Kodai</title>

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700| Open+Sans:400,700|Source+Code+Pro:200,400,700' rel='stylesheet' type='text/css'>
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- code highlighting via rainbow -->
    <link href="/bower_components/rainbow/themes/twilight.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/nxsass.css"/>
    </head>
    <body>
      <div class="wrapper">
        <h1><i class="fa fa-rocket"></i> Content</h1>
        @@include('./templates/_nav.html')
        <main>
          @@include('./templates/_layout.html')
        </main>  
        
      </div>

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Droid Sans", "Ubuntu"]
        }
      });
    </script>
   <script src="/bower_components/rainbow/js/rainbow.min.js"></script>
   <script src="/bower_components/rainbow/js/language/css.js"></script>
   <script src="/bower_components/rainbow/js/language/generic.js"></script>
   <script src="/bower_components/rainbow/js/language/html.js"></script>
  </body>
</html>
